body {
    background-color: black;
}

.span_label {
    color: chartreuse;
    font-family: 'Courier New', Courier, monospace;
}

.span_value {
    color: white;
    font-family: 'Courier New', Courier, monospace;  
}

.base {
    text-align: center;
}

.photo {
    text-align: center;
}